@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .img_prev {
        width: 100%;
    }

    .nicEdit-main {
        font-family: 'kalpurush';
    }
</style>
@section scripts{
    <script>
        $("#add_more").click(function (e) {
            $("#file_slab").append("<div class='form-group'><label for='inputEmail3' class='col-sm-2 control-label'>Images</label>" +
                    "<div class='col-sm-2'><img src='' class='img_prev' /></br> <a href='javascript:;' onclick='RemoveFile(this)'>Remove</a></div><div class='col-sm-4'><input type='file' name='file1' onchange='readURL(this)' /></div>");
            e.preventDefault();
        });

        function RemoveFile(e) {
            $(e).closest(".form-group").remove();
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = new Image();
                    img.src = e.target.result;
                    var height = img.naturalHeight;
                    var width = img.naturalWidth;
                    var aspect = width / height;
                    {
                        $(input).closest('.form-group').find('.img_prev').attr('src', e.target.result);
                    }
                }
                reader.readAsDataURL(input.files[0]);

            }
        }
        
    </script>



}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Add Category
        </h1>

    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label ">Category Name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control required" id="inputEmail3" name="CategoryName" placeholder="Enter Category Name">
                </div>
            </div>
            <div id="file_slab">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Images</label>
                    <div class="col-sm-2">
                        <img src="" class="img_prev" />
                    </div>
                    <div class="col-sm-4">
                        <input type="file" name="file1" class="first" onchange="readURL(this)" />
                    </div>
                  
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <input type="submit" name="upload" value="Create" />
                </div>
            </div>
        </form>
    </div>
    