@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <a href="~/Admin/CreateCategory">
        <div class="col-sm-12 col-md-6 col-lg-6 container-fluid" id="CreateCategory" style="border-radius:25px;border: 2px solid #73AD21;padding:10px;height:100px;">
            <center><h2>Create Category</h2></center>

        </div>
    </a> 
    <a href="~/Admin/CreateItem"><div class="col-sm-12 col-md-6 col-lg-6 container-fluid" id="CreateItem" style="border-radius:25px;border: 2px solid #73AD21;padding: 10px;height:100px;">
    <center><h2>Create Item</h2></center>

</div></a> 
</div>
